body {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
  font-family: "Poppins", sans-serif;
}

button {
  border: 2px solid #ff9f45;
}

button:hover {
  cursor: pointer;
  border: 2px solid #000;
}

ul {
  padding-inline-start: 30px;
  margin-bottom: 0;
}
ul li {
  padding-bottom: 1rem;
}

sup {
  font-size: 0.5em;
}

.price-card {
  display: flex;
  justify-content: center;
}

.card-body {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.card-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ff9f45;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}

.card-title {
  font-size: 2rem;
  font-weight: 600;
}

.card-pricing {
  font-size: 2rem;
  font-weight: 600;
}

.duration {
  font-size: 0.9rem;
}

.card-main {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.main-btn-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.main-btn {
  font-weight: bold;
  padding: 1rem;
  background-color: #ff9f45;
  color: #000;
  border-radius: 0.3rem;
}

@media only screen and (max-width: 704px) {
  body {
    min-height: 100vh;
  }
  .price-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15rem;
  }
  .card-body {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0;
    margin-right: 0;
  }
}
